/* .floatdiv-container{
    display: inline-block;
}
.floatdiv {
    padding: 10px;
    border-radius: 10px;
    background-color: #CCE5E1;    
    display: flex;
    align-items: center;
    gap:20px;

} */

.floatdiv .icon {
    color: white;
    padding: 5px;
    font-size: 25px;
    border-radius: 5px;
    background-color: #037C6A;
}
/* .floatdiv .text h5,
.floatdiv .text h6{
    margin: 0px;
    color: #595959;
}
.floatdiv .text h5
{
    font-size: 16px;
    font-weight: 700;
    margin-bottom:5px
}

.floatdiv .text h6
{
    font-size: 14px;
    /* font-weight: 700; */
/* }  */
